<%= form_with model: [criticable, critic], class: "flex flex-column gap-2" do |form| %>
  <div class="input">
    <div class="input__container">
      <%= form.text_field :title, class: "input__content", placeholder: "Critic title" %>
    </div>
    <%=errors_for(critic, :title)%>
  </div>

  <div class="input">
    <div class="input__container">
      <%= form.text_area :body, class: "input__content", placeholder: "Critic Body" %>
    </div>
    <%=errors_for(critic, :body)%>
  </div>

  <div>
    <%= form.submit class: "button button--primary full-width" %>
  </div>
<% end %>