<p style="color: green"><%= notice %></p>

<%= render @platform %>

<div>
  <%= link_to "Edit this platform", edit_platform_path(@platform) %> |
  <%= link_to "Back to platforms", platforms_path %>

  <%= button_to "Destroy this platform", @platform, method: :delete %>
</div>
