<%= form_with(model: involved_company) do |form| %>
  <% if involved_company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(involved_company.errors.count, "error") %> prohibited this involved_company from being saved:</h2>

      <ul>
        <% involved_company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :companies_id, style: "display: block" %>
    <%= form.text_field :companies_id %>
  </div>

  <div>
    <%= form.label :games_id, style: "display: block" %>
    <%= form.text_field :games_id %>
  </div>

  <div>
    <%= form.label :developer, style: "display: block" %>
    <%= form.check_box :developer %>
  </div>

  <div>
    <%= form.label :publisher, style: "display: block" %>
    <%= form.check_box :publisher %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
