<div id="<%= dom_id involved_company %>">
  <p>
    <strong>Companies:</strong>
    <%= involved_company.companies_id %>
  </p>

  <p>
    <strong>Games:</strong>
    <%= involved_company.games_id %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= involved_company.developer %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= involved_company.publisher %>
  </p>

</div>
