<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <%= image_tag game.cover %>

  <p>
    <strong>Summary:</strong>
    <%= game.summary %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= game.release_date %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= game.category %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= game.rating %>
  </p>

</div>
