<p style="color: green"><%= notice %></p>
<div id="<%= dom_id @company %>">
  <section class="section bg-gray-100">
    <div class="container-m mb-4">
      <%=image_tag @company.cover, class: "company-card__image-show"%>
    </div>

    <div class="container-mm flex flex-column heading heading--sm mb-4">
      <%=@company.name%>
      <div class="body content-xs">
        <p><%= @company.start_date.year %> - <%= @company.country %>
        </p>
      </div>
    </div>

    <div class="nabvar flex flex column flex-center flex-around mb-4">
      <a class="container-navbar flex flex-center-justify flex-center" href="#">Company Details</a>
      <%=link_to "Critics(#{@company.critics_count})", company_critics_path(@company)%>
    </div>

   <div class="input">
      <%= form.label :title, class:"content-xs overline" %>
      <div class="input__container">
        <%= form.text_field :title, class: "input__content", placeholder: "Critic title" %>
      </div>
    </div>

    <div class="input">
      <%= form.label :body, class:"content-xs overline" %>
      <div class="input__container">
        <%= form.text_area :body, class: "input__content", placeholder: "Critic body" %>
      </div>
    </div>

    <div>
    <%= form.submit class: "button button--primary full-width" %>
    </div>

    <div id="critics">
      <% @company.critics.each do |critic| %>
        <div class="bg-white mb-4">
          <%= critic.title %>
          <%= critic.body %>
        </div>
      <% end %>
    </div>

    <div class="content-s text-center primary-500">
        <%= link_to "Back", companies_path %>
    </div>

  </section>
</div>