<header class="header">
  <div class="container navbar">
    <%=link_to image_tag("/images/critic-logo.png"), root_path, class: "logo"%>
    <nav>
      <ul class="navbar-links" role="list">
      <%if user_signed_in?%>
        <li>Welcome <%=current_user.username%></li>
        <li><%=link_to "Edit Profile", edit_user_registration_path%></li>
        <li><%= link_to 'Games', games_path, class: "link" %></li>
        <li><%= link_to 'Companies', companies_path, class: "link" %></li>
        <li>
          <%=link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }%>
        </li>
      <%else%>
        <p>Sign in to start criting games and companies</p>
        <li><%=link_to "Sign in", new_user_session_path, class: "button button--sm button--primary" %></li>
      <%end%>
      </ul>
    </nav>
    </nav>
    <div class="js-navbar-menu">
      <%=image_tag "icons/menu.svg", class: "navbar__menu-icon"%>
      <%=image_tag "icons/close.svg", class: "navbar__menu-icon-close"%>
    </div>
  </div>
</header>