<!DOCTYPE html>
<html>
  <head>
    <title>CriticsRc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/97778ca477.js" crossorigin="anonymous"></script>
  </head>

  <body class="container">

    <%= render partial: "layouts/header" %>
    
    <% if notice %>
      <div class="success">
        <%=link_to image_tag("icons/check_green.svg")%>
        <p><%= notice %></p>
      </div>
    <% end %>

    <%= yield %>

    <%= render partial: "layouts/footer" %>

    <script>
      const navbarMenu = document.querySelector(".js-navbar-menu");
      const navbar = document.querySelector(".navbar");
      navbarMenu.addEventListener("click", () => navbar.classList.toggle("navbar--open"));
    </script>
  </body>
</html>
