<!DOCTYPE html>
<html>
  <head>
    <title>CriticsRc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/97778ca477.js" crossorigin="anonymous"></script>
  </head>

  <body class="container">

    <header class="header">
      <div class="container navbar">
        <%=link_to image_tag("critic-logo.png"), root_path, class: "logo"%>
        <nav>
          <ul class="navbar-links" role="list">
            <li>Welcome User</li>
            <li><%= link_to 'Edit Profile'%></li>
            <li><%= link_to 'Games', games_path, class: "link" %></li>
            <li><%= link_to 'Companies', companies_path, class: "link" %></li>
            <li><%= button_to 'LOG OUT' %></li>
          </ul>
        </nav>
        <div class="js-navbar-menu">
          <%=image_tag "icons/menu.svg", class: "navbar__menu-icon"%>
          <%=image_tag "icons/close.svg", class: "navbar__menu-icon-close"%>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="footer bg-gray-100">
      <section class="section-footer">
      <div class="inline-footer">
        <p>Build with ❤️ by</p>
      </div>
      <div class="inline-footer">
        <p><a class="lnkdn-link" href="https://pe.linkedin.com/"><i class="fab fa-linkedin"></i></a> Claudia</p>
        <p><a class="lnkdn-link" href="https://pe.linkedin.com/"><i class="fab fa-linkedin"></i></a> Ximena</p>
        <p><a class="lnkdn-link" href="https://pe.linkedin.com/"><i class="fab fa-linkedin"></i></a> Ricardo</p>
      </div>
      <div class="inline-footer">
        <p><a class="lnkdn-link" href="https://pe.linkedin.com/"><i class="fab fa-linkedin"></i></a> Tommy</p>
      </div>
    </section>
    </footer>

    <script>
      const navbarMenu = document.querySelector(".js-navbar-menu");
      const navbar = document.querySelector(".navbar");
      navbarMenu.addEventListener("click", () => navbar.classList.toggle("navbar--open"));
    </script>
  </body>
</html>
